In [2]:
import pandas as pd
dir ='F:\Thesis Material\CollectedData.csv'
df = pd.read_csv(dir)
df.head()

,Age,Gender,Education,Living Area,Marital Status,Family Type,Have you been affected by the Coronavirus,Q1,Q2,Q3,...,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21
0,26,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,Yes,"Applied to me to some degree, or some of the time",Applied to me very much or most of the time,Did not apply to me at all,...,"Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,"Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,Applied to me very much or most of the time
1,23,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,Yes,"Applied to me to some degree, or some of the time",Did not apply to me at all,"Applied to me to some degree, or some of the time",...,Applied to me very much or most of the time,"Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,"Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...
2,23,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,No,Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,...,Did not apply to me at all,Did not apply to me at all,"Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time",Did not apply to me at all,"Applied to me to some degree, or some of the time",Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,Did not apply to me at all
3,23,Male,Master's,"Urban(Town,City)",Unmarried,Joint,Yes,Applied to me to a considerable degree or a go...,"Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,...,Applied to me very much or most of the time,Applied to me to a considerable degree or a go...,"Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,"Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,"Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,Applied to me very much or most of the time
4,24,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,No,"Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time",Applied to me to a considerable degree or a go...,...,Did not apply to me at all,"Applied to me to some degree, or some of the time",Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,"Applied to me to some degree, or some of the time","Applied to me to some degree, or some of the time",Did not apply to me at all,Did not apply to me at all

In [3]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le_Q1 = LabelEncoder()
le_Q2 = LabelEncoder()
le_Q3 = LabelEncoder()
le_Q4 = LabelEncoder()
le_Q5 = LabelEncoder()
le_Q6 = LabelEncoder()
le_Q7 = LabelEncoder()
le_Q8 = LabelEncoder()
le_Q9 = LabelEncoder()
le_Q10 = LabelEncoder()
le_Q11 = LabelEncoder()
le_Q12 = LabelEncoder()
le_Q13 = LabelEncoder()
le_Q14 = LabelEncoder()
le_Q15 = LabelEncoder()
le_Q16 = LabelEncoder()
le_Q17 = LabelEncoder()
le_Q18 = LabelEncoder()
le_Q19 = LabelEncoder()
le_Q20 = LabelEncoder()
le_Q21 = LabelEncoder()

df['firstQ'] = le_Q1.fit_transform(df['Q1'])
df['secondQ'] = le_Q2.fit_transform(df['Q2'])
df['thirdQ'] = le_Q3.fit_transform(df['Q3'])
df['forthQ'] = le_Q4.fit_transform(df['Q4'])
df['fifthQ'] = le_Q5.fit_transform(df['Q5'])
df['sixthQ'] = le_Q6.fit_transform(df['Q6'])
df['seventhQ'] = le_Q7.fit_transform(df['Q7'])
df['eighthQ'] = le_Q8.fit_transform(df['Q8'])
df['ninethQ'] = le_Q9.fit_transform(df['Q9'])
df['tenthQ'] = le_Q10.fit_transform(df['Q10'])
df['eleventhQ'] = le_Q11.fit_transform(df['Q11'])
df['twelvethQ'] = le_Q12.fit_transform(df['Q12'])
df['thirteenthQ'] = le_Q13.fit_transform(df['Q13'])
df['fourtennthQ'] = le_Q14.fit_transform(df['Q14'])
df['fifteenthQ'] = le_Q15.fit_transform(df['Q15'])
df['sixteenthQ'] = le_Q16.fit_transform(df['Q16'])
df['seventeenthQ'] = le_Q17.fit_transform(df['Q17'])
df['eighteenthQ'] = le_Q18.fit_transform(df['Q18'])
df['nineteenthQ'] = le_Q19.fit_transform(df['Q19'])
df['twentiethQ'] = le_Q20.fit_transform(df['Q20'])
df['twentyfirstQ'] = le_Q21.fit_transform(df['Q21'])

df.drop(Q1) = LabelEncoder()
le_Q2 = LabelEncoder()
le_Q3 = LabelEncoder()
le_Q4 = LabelEncoder()
le_Q5 = LabelEncoder()
le_Q6 = LabelEncoder()
le_Q7 = LabelEncoder()
le_Q8 = LabelEncoder()
le_Q9 = LabelEncoder()
le_Q10 = LabelEncoder()
le_Q11 = LabelEncoder()
le_Q12 = LabelEncoder()
le_Q13 = LabelEncoder()
le_Q14 = LabelEncoder()
le_Q15 = LabelEncoder()
le_Q16 = LabelEncoder()
le_Q17 = LabelEncoder()
le_Q18 = LabelEncoder()
le_Q19 = LabelEncoder()
le_Q20 = LabelEncoder()
le_Q21 = LabelEncoder()

,Age,Gender,Education,Living Area,Marital Status,Family Type,Have you been affected by the Coronavirus,Q1,Q2,Q3,...,twelvethQ,thirteenthQ,fourtennthQ,fifteenthQ,sixteenthQ,seventeenthQ,eighteenthQ,nineteenthQ,twentiethQ,twentyfirstQ
0,26,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,Yes,"Applied to me to some degree, or some of the time",Applied to me very much or most of the time,Did not apply to me at all,...,1,0,3,3,3,3,3,1,0,2
1,23,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,Yes,"Applied to me to some degree, or some of the time",Did not apply to me at all,"Applied to me to some degree, or some of the time",...,2,1,1,1,1,1,0,1,1,0
2,23,Male,Bachelor's,"Urban(Town,City)",Unmarried,Single,No,Did not apply to me at all,Did not apply to me at all,Did not apply to me at all,...,3,3,1,1,3,1,3,3,3,3